/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.backgroundGradient {
    height: 100vh;
    background: linear-gradient(150deg, #fd9e54 0%, #FB9459 25%, #F67E64 50%, #F4736A 100%);
}
.overflow {
    height: 80vh;
    overflow-y: scroll;
}

.carousel-caption {
    text-align: left !important;
    color: #2E2F30 !important;
}

.flip-container{
    height: auto;
    min-height: 350px;
    min-width: 250px;
}

.flip {
    perspective: 600px;
    float: left;
    margin: 30px;
}
.flip-content {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.flip:hover .flip-content {
    transform: rotateY(180deg);
    transition: transform 0.3s;
}

.flip-front, .flip-back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}
.flip-back {
    transform: rotateY(180deg);
    min-height: 350px;

}

.gallery-item {
    scroll-snap-align: start;
}
.gallery {
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}